*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #25425c;
    color: #ffffff;
   
}
input{
    /* outline: none; */
    border-radius: 5px;
}
#mainH1{
    margin-bottom: 20px;
    color: #ffffff;
}

#mainDiv1 {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin: 10px;
}
#mainDiv1 div{
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
    margin: 10px;
    box-shadow: 10px 10px 13px black;
}

#btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #d9e631;
    outline: none;
    border: none;
}
img{ 
    border-radius: 10px;
}

#mainDiv1 div img:hover{
    transform: rotateY(180deg)
}
#btn:hover{
    background-color: #dae631bd;
}
#vid-container{
    height: 500px;
    width: 500px;
}