*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #25425c;
    color: #ffffff;
   
}
a{
    color: #d9e631;
    text-decoration: none;
}
input{
    /* outline: none; */
    border-radius: 5px;
}
#mainH1{
    margin-bottom: 20px;
    color: #ffffff;
}

#mainDiv1 {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin: 10px;
}
#mainDiv1 div{
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
    margin: 10px;
    box-shadow: 3px 3px 6px black , -5px -5px 10px black;
    border-radius: 3px;
    margin: 8px auto;
    padding: 3px;
}
#mainDiv1 div >div {
    width: 4rem;
    height: 1.2rem;
    box-shadow: 2px 2px 10px black , -2px -2px 10px black;
    padding: 3px;

}

#btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #d9e631;
    outline: none;
    border: none;
}
img{ 
    border-radius: 10px;
}

#mainDiv1 div img:hover{
    transform: rotateY(180deg)
}
#btn:hover{
    background-color: #dae631bd;
}
#vid-container{
    height: 500px;
    width: 500px;
}